.code-input {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 80%;
  height: 400px;
}

.cm-s-default {
  height: 50%;
  width: 100%;
  border: 1px solid rgb(54,41,200);
  &:hover, &:active, &:focus {
    border: 2px solid rgb(54,41,200);
    outline: none;
  }
}

.code-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;

  button {
    height: 27px;
    font-size: 14px;
    color: white;
    background-color: rgb(54,41,200);
    border: 1px solid rgb(54,41,200);
    border-radius: 10px;
    &:hover, &:active, &:focus {
      background-color: rgb(117,87,241);
      outline: none;
    }
  }
}

.CodeMirror-linenumbers {
  background-color: rgba(141,191, 80,0.3);
}

.CodeMirror-linenumber {
  color: white;
}

.text-area-container {
  height: 40%;
  margin: 15px 0;
}
textarea {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(54,41,200);
  padding: 0;
  &:hover, &:active, &:focus {
    border: 2px solid rgb(54,41,200);
    outline: none;
  }
}
