.header {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  &:hover, &:active, &:focus {
    color: rgb(117,87,241);
    outline: none;
  }
}
