@import 'colors';

.code-input {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 80%;
  min-height: 400px;
}

.cm-s-default {
  min-height: 200px;
  width: 100%;
  margin-top: 10px;
  border: 1px solid $blue-0;
  &:hover, &:active, &:focus {
    border: 2px solid $blue-2;
    outline: none;
  }
}

.code-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;

  button {
    height: 27px;
    font-size: 14px;
    color: white;
    background-color: $blue-4;
    border: 1px solid $blue-4;
    border-radius: 10px;
    &:hover, &:active, &:focus {
      background-color: $blue-0;
      outline: none;
    }
  }
}

.CodeMirror-linenumbers {
  background-color: $green-0;
  opacity: 0.3;
}

.CodeMirror-linenumber {
  color: white;
}

.text-area-container {
  height: 40%;
  margin: 15px 0;
}
textarea {
  min-height: 200px;
  width: 100%;
  text-align-last: center;
  white-space: normal;
  text-align: justify;
  border: 1px solid $blue-0;
  padding: 5px 0 5px 0;
  &:hover, &:active, &:focus {
    border: 2px solid $blue-2;
    outline: none;
  }
}
