@import 'colors';

.header {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  color: $blue-4;
  &:hover, &:active, &:focus {
    color: $blue-0;
    outline: none;
  }

  &:visited {
    color: $purplish-4;
  }
}
